streamlit==1.45.1

pandas==2.2.3
numpy==2.2.5
scipy==1.15.3
scikit-learn==1.6.1

plotly==6.0.1

pyarrow==20.0.0
fastparquet==2024.11.0

yfinance==0.2.58
nsepython==2.97

requests==2.32.3
beautifulsoup4==4.13.4
lxml==5.4.0

openpyxl==3.1.5

sqlalchemy==2.0.40
psycopg2-binary==2.9.10

schedule==1.2.2

python-telegram-bot==22.0

tenacity==9.1.2
tqdm==4.67.1

python-dateutil==2.9.0.post0

watchdog==6.0.0

joblib==1.4.2

soupsieve==2.7

threadpoolctl==3.6.0

packaging==24.2

pytz==2025.2

tzdata==2025.2
